<!-- TODO: Change this to an alert that can be closed by the user -->
<div class="alert alert-danger" ng-if="hasFormError">{{serverSideErrors}}</div>

<div class="modal-header">
    <h1>Create New</h1>
</div>

<form class="form-horizontal" name="employeeForm" novalidate role="form">
        
    <fieldset>
        <legend>Basic Info</legend>
        
        <!--
        Use ng-touched and ng-untouched here. Fix error text to show as red.
        -->
        <div class="form-group" show-errors>
            <label for="fullname" class="col-sm-3 control-label">Name</label>
            <div class="col-sm-9">
                <input type="text" id="fullname" name="fullname" class="form-control" ng-model="editableEmployee.fullname" ng-required="shouldShowFullName()"
                    ng-minlength="2" ng-maxlength="20"/> 
                <span class="help-block" ng-if="employeeForm.fullname.$error.required">Full Name is required.</span>
                <span class="help-block" ng-if="employeeForm.fullname.$error.minlength">Full Name must be at least two characters.</span>
                <span class="help-block" ng-if="employeeForm.fullname.$error.maxlength">Full Name can be no more than twenty characters.</span>
            </div>        
        </div>
    
        <div class="form-group" show-errors>
            <label for="department" class="col-sm-3 control-label">Department</label>
            <div class="col-sm-9">
                <!--ng-pattern="/A-Za-z/"-->
                <input type="text" id="department" name="department" class="form-control" ng-model="editableEmployee.department" ng-required="true"
                    />
                <span class="help-block" ng-if="employeeForm.department.$error.required">Department is required.</span>          
            </div>
        </div>
            
        <div class="form-group">
            <label for="happiness" class="col-sm-3 control-label">Overall Happiness</label>
            <div class="rating-control col-sm-3">
                <rating id="happiness" name="happiness" ng-model="editableEmployee.happiness" max="10"
                        on-hover="hoveringOver(value)" on-leave="overStar = null" />
            </div>
            <span class="label"
                    ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}"
                    ng-show="overStar">{{percent}}%</span>
        </div>
            
        <div class="col-sm-offset-3 col-sm-9">
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="isContractor" ng-model="editableEmployee.isContractor"/>
                    <span tooltip="Employees hired in the past 6 months are primarily contractors."
                            tooltip-placement="right"
                            tooltip-trigger="mouseenter"
                        >Is Employee a contractor?</span>
                </label>
            </div>
        </div>
            
        <div class="form-group" collapse="!editableEmployee.isContractor">
            <label for="contractingCompany" class="col-sm-3 control-label">Contracting Company</label>
            <div class="col-sm-9">
                <textarea name="notes" id="notes" class="form-control" rows="5" cols="40"
                    ng-model="editableEmployee.contractingCompany"></textarea>
            </div>
        </div>
            
        <div class="form-group">
            <label for="favoriteHobby" class="col-sm-3 control-label">Favorite Hobby</label>
            <div class="col-sm-3">
                <input type="text" id="Text1" name="favoriteHobby" class="form-control"
                        ng-model="editableEmployee.favoriteHobby"
                        typeahead="hobby for hobby in hobbies | filter:$viewValue"/>
            </div>
                
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">Break Time</label>
            <div class="col-sm-9">
                <timepicker ng-model="editableEmployee.breakTime"></timepicker>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">Date Hired</label>
            <div class="col-sm-9">
                <datepicker ng-model="editableEmployee.dateHired"></datepicker>
            </div>
        </div>                       
    </fieldset>    
</form>

<div>
    <div class="col-sm-offset-3 col-sm-9">
        <input type="submit" class="btn btn-primary" value="Submit" ng-disabled="employeeForm.$invalid" ng-click="submitForm()" />
        <input type="button" class="btn btn-default" value="Cancel" ng-click="cancelForm()"/>
        <input type="reset" class="btn btn-warning" value="Reset" ng-click="resetForm()"/>
    </div>
</div>