<form ng-hide="isLoggedIn()" ng-controller="loginController" class="navbar-form navbar-right">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="username (email)" ng-model="userData.email" />
    </div>

    <div class="form-group">
        <input type="password" class="form-control" placeholder="password" ng-model="userData.password" />
    </div>

    <button type="submit" class="btn btn-default" ng-click="login()">Login</button>
    <button type="submit" class="btn btn-default" ng-click="registerUser()">Register</button>
    <div ng-show="message">{{message}}</div>
</form>